@charset "UTF-8";
.root-container {
    width: 100%;
    overflow: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* pode ser usar display:flex */}

.brasilia {
    background-color: aqua;
}

.wellington{
    background-color: bisque;
}    

.kuala-lumpur{
    background-color: chartreuse;
}